body {
    background-color: $background-clr;
    color: $text-clr;

    li, ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    button {
        cursor: pointer;
        color: $light-text-clr;
        font-weight: bold;
        letter-spacing: 0.3em;
        padding: 1em;
        border: 2px solid $primary-clr;
        border-radius: 2em;
        background-color: $primary-clr;
        transition: 0.2s;

        &:hover {
            color: $primary-clr;
            background-color: $background-clr;
        }

    }
}