body {
    background-color: $background-clr;
    color: $text-clr;
    font-family: Poppins;

    li,
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-size: 1rem;

        &:hover {
            color: $primary-clr;
        }
    }

    h1 {
        margin-bottom: 0;
    }

    button {
        cursor: pointer;
    }
}