//Layout

// Display 
// for hidden elements where the display property overrules the HTML "hidden" attribute:
@mixin toggle-display {
    &[hidden] {
        display: none;
    }
}

// Buttons 
@mixin basic-btn {
    font-family: Poppins;
    color: $light-text-clr;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding: 1em;
    border: 2px solid $primary-clr;
    border-radius: 2em;
    background-color: $primary-clr;
    transition: 0.3s;
    height: max-content;
    width: max-content;

    &:hover {
        color: $primary-clr;
        background-color: $background-clr;
    }
}