// *COLOR PALLETTE*

$background-clr: #f6fef9;
$text-clr: #03160a;
$light-text-clr: #fefad4;
$primary-clr: #e647ac;
$secondary-clr: #c9f8da;
$accent-clr: #ffe92f;


// *LAYOUT*

$layoutPadding: 30px;
