.game-container {
    position: relative;
    height: 80vh;
    
    ul {
        border: 4px solid $primary-clr;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 2px;
        background-color: lightgray;
    }
}