/* SETUP */
@font-face {
  font-family: UnicaOne;
  src: url(../../assets/fonts/UnicaOne/UnicaOne-Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../../assets/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: fa-brands;
  src: url("../../assets/fonts/fontAwesome/fontawesome-free-6.5.1-web/webfonts/fa-brands-400.ttf");
}
@font-face {
  font-family: fa-solid;
  src: url("../../assets/fonts/fontAwesome/fontawesome-free-6.5.1-web/webfonts/fa-solid-900.ttf");
}
/* BASICS */
body {
  background-color: #f6fef9;
  color: #03160a;
  font-family: Poppins;
}
body li,
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
body a:hover {
  color: #e647ac;
}
body button {
  cursor: pointer;
  font-family: Poppins;
  color: #fefad4;
  font-weight: bold;
  letter-spacing: 0.3em;
  padding: 1em;
  border: 2px solid #e647ac;
  border-radius: 2em;
  background-color: #e647ac;
  transition: 0.3s;
}
body button:hover {
  color: #e647ac;
  background-color: #f6fef9;
}

.flex {
  display: flex;
}

.main-layout {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}
.main-layout > * {
  grid-column: 2;
}
.main-layout > *.full {
  grid-column: 1/-1;
}

.base-layout {
  grid-template-rows: 1fr minmax(100vh, auto) 1fr;
}
.base-layout > *:not(.app-header, .app-footer) {
  grid-row: 2;
}
.base-layout .app-header {
  grid-row: 1;
}
.base-layout .app-footer {
  grid-row: 3;
}

/* COMPONENTS */
.app-header .main-title {
  font-family: UnicaOne;
  text-align: center;
  color: #e647ac;
}

.stats {
  display: flex;
}
.stats[hidden] {
  display: none;
}
.stats > * {
  display: flex;
  flex-direction: row;
  margin: 1em;
  background-color: #c9f8da;
  padding-inline: 1em;
  border-radius: 1em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.stats > * span {
  display: block;
}
.stats .lives {
  min-width: 6rem;
}

.game-container {
  position: relative;
  height: 80vh;
}
.game-container ul {
  border: 4px solid #e647ac;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 2px;
  background-color: lightgray;
}

.bubble {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
}

.app-footer {
  text-align: center;
  line-height: 2.25;
}
.app-footer .social-links-container > * {
  margin-inline: 0.3em;
}
.app-footer .social-links-container > *::before {
  content: "";
  font-family: fa-brands;
  font-size: 2rem;
}
.app-footer .social-links-container > *::before:hover {
  color: #e647ac;
}
.app-footer .social-links-container .linkedin::before {
  content: "\f08c";
}
.app-footer .social-links-container .github::before {
  content: "\f092";
}
.app-footer .social-links-container .email::before {
  font-family: fa-solid;
  content: "\f199";
}

/* MEDIA *//*# sourceMappingURL=styles.css.map */